<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Extended.Wpf.Toolkit" version="3.0" targetFramework="net452" />
  <package id="Gu.Analyzers" version="0.1.11.4-dev" targetFramework="net452" developmentDependency="true" />
  <package id="Gu.Reactive" version="1.11.0.0" targetFramework="net452" />
  <package id="Rx-Core" version="2.2.5" targetFramework="net452" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="net452" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="net452" />
  <package id="Rx-Main" version="2.2.5" targetFramework="net452" />
  <package id="Rx-PlatformServices" version="2.2.5" targetFramework="net452" />
  <package id="System.Data.SQLite.Core" version="1.0.104.0" targetFramework="net452" />
  <package id="System.Data.SQLite.Linq" version="1.0.104.0" targetFramework="net452" />
  <package id="WpfAnalyzers" version="0.2.7.2-dev" targetFramework="net452" developmentDependency="true" />
</packages>